@tailwind base;
@tailwind components;
@tailwind utilities;

// docs
// :background for bg,
// :foreground for text,
// :primary,secondary use for button,
// :effect is for background gradient color,
// :ring for border or shadow
// :accent are bg color use for select drowndown fields

:root {
  --selection: 100; //z-index
  --popOver: 110; //z-index
  --navbar: 110; //z-index
  --sidebar: 111; //z-index
  --drawer: 120; //z-index
  --modal: 120; //z-index
  --radius: 0.5rem;
}

// html,
// body,
// #__next {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }
* {
  scrollbar-color: hsl(var(--primary)) hsl(var(--effect));
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: hsla(var(--ring), 0.1);
    border-radius: var(--radius);
  }
  ::-webkit-scrollbar-track:hover {
    background: hsla(var(--ring), 0.2);
  }
  ::-webkit-scrollbar-track:active {
    background: hsla(var(--ring), 0.2);
  }

  ::-webkit-scrollbar-thumb {
    background: hsla(var(--ring), 0.7);
    border-radius: var(--radius);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary));
  }
  ::-webkit-scrollbar-thumb:active {
    background: hsl(var(--primary));
  }
}
@layer base {
  body {
    @apply relative m-0 p-0 prose prose-headings:text-foreground prose-headings:m-0 prose-headings:p-0;
    @apply h-full w-full bg-background text-foreground;

    // @apply bg-gradient-to-r from-background via-effect via-60% to-background;
  }

  .bordering {
    @apply rounded-lg border border-border hover:border-effect-2xl  active:border-primary focus:border-primary shadow-sm shadow-effect-lg;
  }
  input,
  textarea {
    @apply bg-transparent bordering outline-none ps-2;
  }
  .iconPrimary {
    @apply text-primary  duration-150 border-foreground;
  }

  .select-open {
    @apply absolute w-full max-h-64 overflow-y-auto z-50 rounded-lg;
  }
}

// React Day Picker
.day:hover {
  background-color: hsl(var(--accent)) !important;
}

// .container::before {
//   background: hsla(0, 0%, 100%, 0.3);
// }

// .container {
//   position: relative;
//   padding: 10px 5px;
//   background: hsla(0, 0%, 100%, 0.3);
//   font-size: 20px;
//   font-family: "Lora", serif;
//   line-height: 1.5;
//   border-radius: 10px;
//   // width: 60%;
//   box-shadow: 5px 3px 30px black;
//   overflow: hidden;
// }

// .container::before {
//   content: "";
//   margin: -35px;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   filter: blur(20px);
//   z-index: -1;
// }

// .drawer::before {
//   background: hsl(var(--accent)) !important;
//   opacity: 90%;
//   inset: 0;
//   filter: blur(20px);
// }
